<div class="bg-gray-100">
  <div class="flex justify-center items-center content">
    <div class="shadow sm:rounded-md sm:overflow-hidden w-3/6">
      <div class="px-4 py-5 bg-white space-y-6 sm:p-6 w-full">
        <%= cl_image_tag @gif.image.key, class: "object-cover w-full" %>
      </div>
    </div>
  </div>
</div>
