<div class="content flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: "mt-8 space-y-6") do |f| %>
      <div>
        <h2 class="my-6 text-center text-3xl font-extrabold text-gray-900">Forgot your password?</h2>
      </div>
      <div class="rounded-md shadow-sm -space-y-px">
        <div>
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", placeholder: "Email address", class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 focus:z-10 sm:text-sm" %>
        </div>
      </div>

      <div>
        <%= f.submit "Send me reset password instructions", class: "group mt-6 cursor-pointer relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500" %>
      </div>
      <%#= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
